<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="map"></div>
    <button>Find Gyms</button>
    <script type='text/javascript' src='/javascripts/initMap.js'></script>
      <script type='text/javascript' src='/javascripts/config.js'></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap">
      </script>
  </body>
</html>
