body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#map {
  border-style: solid;
  width: 90vw;
  height: 600px;
}

button {
  border-radius: 7%;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 20px;
  height: 30px;
  width: 100px;
}

