body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#map {
  border-style: solid;
  width: 90vw;
  height: 600px;
}

input {
  border-radius: 7%;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 1em;
  margin: 20px;
  height: 30px;
  width: 100px;
}

#pac-input {
  background-color: #fff;
  color: black;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
